.header{
    position: relative;
    height: 100%;
    width: 100%;
}
.header img{
    position: absolute;
    left: 0;
    top: calc(50% - 27px);
}
.header >span{
    color: white;
    float: left;
    line-height: 90px;
    margin-left: 70px;
    font-size: 24px;
}
.header .userName{
    position: absolute;
    right: 0;
    line-height: 90px;
}
.header .userName span{
    margin: 0 5px;
}
.header .userName span:hover{
    color: aqua;
}