.Home{
    min-width: 1230px;;
}
.Home .ant-layout-header{
    background-color: #324057;
    height: 90px;
}
.Home .userName{
    cursor:pointer;
}
.Home .userName{
    float: right;
    color: white;
    position: relative;
}
.Home .userName .updateAdminPassword{
    width: 140px;
    height: 100px;
    right: 20px;
    position: absolute;
    display: none;
    top: 50px;
    box-shadow: 0px 0px 1px 1px #ccc;
    border-radius: 8px;
    background-color: white;
    z-index: 999998;
}
.Home .userName .updateAdminPassword a{
    display: inline-block;
    width: 100%;
    height: 50%;
    text-align: center;
    color: #4d5e6c;
}
.Home .userName .updateAdminPassword b{
    display: inline-block;
    width: 100%;
    height: 50%;
    text-align: center;
    color:#4d5e6c;
    font-weight: 400;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 0;
}
.Home .userName .updateAdminPassword button{
    width: 100%;
    height: 50%;
    line-height: 50%;
    padding: 0;
    margin: 0;
}
.Home .userName:hover .updateAdminPassword{
    display: block;
}
.Home .ant-layout-sider{
    height:calc(100vh - 64px) ;
    background-color: white;
    border-right:1px solid #ccc; 
}
.Home .ant-layout-sider ul{
    background-color: #ffffff;
}
.Home .ant-layout-sider ul li{
    margin: 0;
    border: none;
}
.Home .ant-layout-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: rgb(238, 255, 255);
    border: none;
    color: rgb(14,147, 255);
    font-size: 14px;
    font-weight: 600;
}
.Home .ant-layout-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a{
    color: rgb(14,147, 255);
}
.Home .ant-layout-sider ul a{
    color: #c1c6cc;
}
.Home .ant-layout-sider ul a i{
    margin-right: 8px;
}
.Home .ant-layout-content{
    box-sizing: border-box;
}
.Home .ant-layout {
    background-color: white;
}
.Home .ant-layout .ant-table-thead > tr > th{
    background-color: rgb(229,232,242)
}

@media screen and (max-width: 1025px) {
    ._loginTitle{
        display: none;
    }
    .login{
        background-size: 100% 100%;
        min-width: 100%;
    }
    .login .loginBody{
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .Home{
        width: 100%;
        min-width: 100%;
    }
    .Home .ant-layout-sider{
        display: none;
    }
    
}
@media screen and (max-width: 415px) {
    ._loginTitle{
        display: none;
    }
    .login{
        background-size: 100% 100%;
        min-width: 100%;
    }
    .login .loginBody{
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 95%;
    }
    .login .Login{
        width: 95%;
        margin: 0;
    }
    .body h3{
        display: none;
    }
    .Home .ant-layout-header{
        padding: 0;
    }
    .header >span{
        font-size: 14px;
    }
    .header img{
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }
    .Home .userName{
        margin-right: 10px;
    }
    .search span:nth-child(3){
        margin-left:86px ;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .search span:nth-child(4){
        margin-left:86px ;
    }
}